.case-studies {
	.pageContent {
		h5 {
			margin: 6px 0 0;
		}
		p {
			margin-top: 0;
		}
		img {
			width: 100%;
			border: #dcdcdc solid 1px;
			&:hover {
				border-color: #03A4F2;
			}
		}
	}
}
.case-study {
	h3, h3 > p {
		font-size: 2rem;
	}

	.hero {
		padding-top: 10rem;
		margin-bottom: 1.5rem;
	    -webkit-box-shadow: inset 0 -8px 7px -8px rgba(0,0,0,0.25);
	    box-shadow: inset 0 -8px 7px -8px rgba(0,0,0,0.25);
    	border: #cecece solid 1px;
	}
	.metadata {
		font-size: 12px;
		h4 {
			font-size: 16px;
			margin-bottom: 0;
		}
		ul {
			margin-top: 4px;
		}
	}
}