.home {
	h3, h4 {
		text-align: center
	}
	h3 {
		font-size: 2rem;
	}

	.hero {
		padding-bottom: 3.5rem;
		background-position: bottom right;
		background-repeat: no-repeat;
		background-image: url('../images/header-default.png') !important;
	    -webkit-box-shadow: inset 0 -8px 7px -8px rgba(0,0,0,0.25);
	    box-shadow: inset 0 -8px 7px -8px rgba(0,0,0,0.25);
    	border: #cecece solid 1px;
		h2, h3 {
			text-align: left;
			margin: 0;
		}
		h2 {
			font-size: 2.5rem;
		}
		h3 {
			font-size: 1.25rem;
			margin: 10px 0 20px;
		}
		.projectType {
			color: orange;
			text-transform: uppercase;
			// font-family: 'Song Myung', serif;
			margin-bottom: 0;
			padding-top: 10rem;
		}
	}
	.about {
		padding-bottom: 40px;
		margin-bottom: 40px;
		border-bottom: #ddd solid 1px;
		h3 {
		    font-size: 2.5rem;
			margin-top: 4rem;
			margin-bottom: 0.5rem;
		}
		h4 {
			font-size: 1.5rem;
    		margin-top: 0;
		}
	}
	.list {
		h5 {
			font-size: 1.25rem;
		}
		li {
			font-size: 1rem;
		}
	}
}