@import url('https://fonts.googleapis.com/css?family=Roboto|Song+Myung|Teko');

// Headers, Serif
// font-family: 'Song Myung', serif;

// Logo, Sans Serif
// font-family: 'Teko', sans-serif;

// Body Copy, Sans Serif
// font-family: 'Roboto', sans-serif;

html {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Song Myung', serif;	
}

p {
	font-size: 1.15rem;
}